/* Base font and color for the body */
body {
  font-family: "Poppins";
  color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  overflow: hidden;
}

/* Quiz container properties */
.quiz-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

/* Header formatting */
.head {
  font-size: 35px;
  padding: 30px 0;
  font-weight: bold;
  text-align: center;
}

/* Option display */
#options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 100px;
}

/* Button  */
button {
  margin-left: 10px;
  margin-top: 10px;
  background-color: #3678dc;
  border: none;
  color: #ffffff;
  font-weight: 700;
  border-radius: 10px;
  text-transform: capitalize;
  text-align: center;
  font-size: 16px;
}

/* Option button properties */
.option {
  width: calc(40% - 10px); /* Two options per row for larger screens */
  max-width: 350px;
  height: 50px;
  cursor: pointer;
}

/* Result display formatting */
#result {
  font-weight: 700;
  text-align: center;
  height: 30px;
  padding-bottom: 30px;
  font-size: 32px;
  padding: 15px 0;
}

/* Pokemon image display */
#pokemon-image {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
  max-width: 200px;
  height: 250px;
  display: block;
  margin: 10px auto 20px;
}

/* Score presentation */
#scoreElement {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
  padding-right: 20px;
  padding-top: 20px;
  font-weight: bold;
}

/* Button for smaller screens */
@media screen and (max-width: 600px) {
  .option {
    width: 70%;
    height: 40px;
    max-width: none;
  }
  #options {
    margin-left: 40px;
  }
  #result {
    font-size: 25px;
    height: 10px;
  }
  #scoreElement,
  #pokemon-image {
    padding: 0;
  }
  #pokemon-image {
    width: 220px;
    height: 180px;
  }
  button {
    margin-left: 22px;
    padding: 0;
    width: 80%;
  }

  .head {
    font-size: 25px;
    padding: 10px 0;
  }
}

/* header */

.header {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  background-color: #151418;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.logo a span {
  color: #8739fa;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  color: #fff;
}

.menu:hover a {
  opacity: 0.4;
}

.menu a:hover {
  opacity: 1;
  color: #fff;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

@media only screen and (max-width: 950px) {
  .menu {
    flex-direction: column;
    background-color: #151418;
    align-items: start;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu a {
    margin-left: 12px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }
}
